// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Globals
$line-height: 1.4 !default;
$global-radius: 4px !default;
$border-width: 0px !default;
$border-color: #bbb !default;

$grey--lighter: #F7F7F7;
$grey--light: #E1E1E1;
$grey: #626262;
$grey--dark: #3B3B3B;

/// Main brand color
$color-brand: $grey--dark !default;
$background-color: $grey--lighter;

// Classic brand colors
$color-primary: $color-brand !default;
$color-primary--dark: $grey--dark;

$color-link: #496DDB !default;
$color-link--visited: #9140D4 !default;
$color-link--hover: darken($color-link, 10%) !default;
$color-link--active: #D44076 !default;

$white: #ffffff !default;

//Shadow color
$shadow-color: transparentize(#d8d8d8, 0.72) !default;

// Font variables
$font-sans-serif:Cairo,
Helvetica,
Arial,
sans-serif !default;
$font-serif: "Merriweather",
Georgia,
"Times New Roman",
Times,
serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace;
$font-base: $font-sans-serif;

/// Copy text color
/// @type Color
$text-color: $color-primary--dark !default;
$text-color--primary: $color-brand !default;

//type scale
$text--xxs: 10px;
$text--xs: 12px;
$text--sm: 14px;
$text--md: 16px;
$text--lg: 18px;
$text--xl: 24px;
$text--xxl: 30px;
$text--xxxl: 36px;
$text--xxxxl: 48px;
$text--xxxxxl: 72px;

// Direction
$direction: rtl !default;

// Z-Index
$z-index-0: -1;
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-6: 60;
$z-index-7: 70;
$z-index-8: 80;
$z-index-9: 90;
$z-index-10: 100;

//spacing
$space--xxxs: 4px;
$space--xxs: 6px;
$space--xs: 8px;
$space--sm: 12px;
$space--md: 16px;
$space--lg: 24px;
$space--xl: 32px;
$space--xxl: 40px;
$space--xxxl: 64px;

// Grid Variables
$enable-grid-classes: true !default;
$enable-flex: false !default;

//// Grid breakpoints
////
//// Define the minimum dimensions at which your layout will change,
//// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px) !default;

//// Grid containers
////
//// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px) !default;

//// Grid columns
////
//// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../' !default;

$republicans-color: #d7301f;
$democrats-color: #225ea8;

$almayadeen-color: #F36928;