// Global element spacing for common elements (margin-bottom)

button, input {
  margin-bottom: 15px;
}


fieldset,
select,
textarea {
  margin-bottom: 15px;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 30px;
}

li {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}