{% extends "./partials/_base.njk" %}
{% set relativePath = "." %}
{% block content %}
   {% include "./partials/slides/_1.njk" %}
   {% include "./partials/slides/_2.njk" %}
   {% include "./partials/slides/_3.njk" %}
   {% include "./partials/slides/_4.njk" %}
   {% include "./partials/slides/_5.njk" %}
{% endblock content %}