<!DOCTYPE html>
<html>
    <head>
        <title>
            Presentation
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat:semibold|Open+Sans:extrabold">
        <link href='{{relativePath}}/dist/style/main.css' rel='stylesheet'/>
    </head>

    <body class="bg-gray-50 h-full overflow-hidden">
        <div id="slider" class="absolute top-0 left-0 right-0">
            {% block content %}Content{% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{relativePath}}/dist/scripts/main.js"></script>
    </body>

</html>