@tailwind base;
@tailwind components;
@tailwind utilities;

.slide{
    width: 100%;
    position: relative;
}

.harrow svg{
    display: block;
    width: 100%;
}

.varrow svg{
    display: block;
    height: 100%;
}