<div class="slide">
    <div class="absolute top-[50%] -translate-y-[50%] left-[50%] -translate-x-[50%] w-full px-6 lg:px-0 lg:max-w-[70%]">
        <div class="flex flex-col lg:flex-row place-items-center">
            <div class="flex-1">
                <h1 class="lg:text-5xl text-3xl font-extrabold font-title">But...<br/>Why?</h1>
                <p class="text-xl lg:text-2xl max-w-[500px] mt-2">Apparently, working with data is a burden for most people because it’s:</p>
                <ul class="max-w-[500px] mt-3">
                    <li class="mb-2">
                        <a href="#" title="Hard" class="inline-block text-lg lg:text-xl py-1.5 px-3 rounded-md border-2 bg-white border-blue-500"><strong>Hard:</strong> development skills are required</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" title="Expensive" class="inline-block text-lg lg:text-xl py-1.5 px-3 rounded-md border-2 border-transparent hover:border-gray-200 text-gray-400 hover:text-black"><strong>Expensive:</strong> hiring tech specialized people is expensive</a>
                    </li>
                    <li>
                        <a href="#" title="Slow" class="inline-block text-lg lg:text-xl py-1.5 px-3 rounded-md border-2 border-transparent hover:border-gray-200 text-gray-400 hover:text-black"><strong>Slow:</strong> integrating different data sources and tuning the results take time</a>
                    </li>
                </ul>
            </div>
            <div class="flex-1 text-center lg:pl-4 mt-6 lg:mt-0">
                <div class="text-left relative inline-block py-2 lg:py-4 pl-4 lg:pl-6 pr-[100px] lg:pr-[100px] bg-gray-200 text-lg lg:text-xl max-w-[360px] lg:max-w-[400px] rounded-xl">The technical barriers are pissing me off.<img src="/dist/images/hard.png" class="inline-block w-[120px] lg:w-[150px] absolute top-[-20px] lg:top-[-40px] right-[-20px] lg:right-[-40px]" /></div>
            </div>
        </div>
    </div>