<div class="slide">
    <div class="absolute top-[50%] -translate-y-[50%] left-[50%] -translate-x-[50%] w-full px-6 lg:px-0 lg:max-w-[70%] flex flex-col lg:flex-row place-items-center">
        <div class="flex-1">
            <h1 class="lg:text-5xl text-3xl font-extrabold font-title">But...<br/>Why?</h1>
            <p class="text-xl lg:text-2xl max-w-[500px] mt-2">Apparently, working with data is a burden for most people because it’s:</p>
            <ul id="reasons" class="max-w-[500px] mt-3">
                <li class="mb-2">
                    <a href="#" title="Hard" data-key="hard" class="reason reason-active">
                        <strong>Hard:</strong> development skills are required</a>
                </li>
                <li class="mb-2">
                    <a href="#" title="Expensive" data-key="expensive" class="reason">
                        <strong>Expensive:</strong> hiring tech specialized people is expensive</a>
                </li>
                <li>
                    <a href="#" title="Slow" data-key="slow" class="reason">
                        <strong>Slow:</strong> integrating different data sources and tuning the results take time</a>
                </li>
            </ul>
        </div>
        <div class="flex-1 text-center lg:pl-6 mt-6 lg:mt-0">
            <div id="reason-example" class="reason-example reason-example-right">
                <span>The technical barriers are pissing me off.</span>
                <img src="/dist/images/hard-1.png"/>
            </div>
        </div>
    </div>
</div>