<div class="slide">
    <div class="absolute top-[50%] -translate-y-[60%] md:-translate-y-[70%] left-[50%] -translate-x-[50%] px-6 w-full md:max-w-[600px]">
        <h3 class="text-sm md:text-base bg-white border-2 border-green-300 shadow-sm rounded-xl py-1 px-3 uppercase font-bold text-green-500 mb-0.5 md:mb-1 inline-block">Our Solution</h3>
        <h1 class="md:text-5xl text-3xl font-bold font-title">Automate any task.<br />Visualize any data.</h1>
        <p class="text-xl md:text-2xl mt-3 md:mt-4">A platform that helps anyone to easily<span class="leading-none text-3xl font-handwritten text-blue-600 -ml-1 mr-1">*</span> automate data operations and extract insights from any data, so they can make better decisions to move forward with their businesses.</p>
        <div class="font-handwritten text-blue-600 mt-5 text-2xl">
            *With a few clicks and without any development skills required
        </div>
    </div>
</div>