<div class="slide">
    <div class="absolute top-[50%] -translate-y-[50%] left-[50%] -translate-x-[50%] w-full h-full py-6 px-6 lg:px-0 lg:max-w-[70%] flex flex-col flex-nowrap lg:flex-row-reverse min-h-0">
        <div class="flex-none lg:flex-1 self-center">
            <h3 class="text-sm lg:text-md bg-white border-2 border-blue-300 shadow-sm rounded-xl py-1 px-3 uppercase font-bold text-blue-500 mb-0.5 lg:mb-1 inline-block">Dashboard</h3>
            <h1 class="lg:text-5xl text-3xl font-extrabold font-title">A one-stop insight overview</h1>
            <p class="text-lg lg:text-xl max-w-[500px] mt-3">This is the place, where, at a glance, users can instantly get an overview of their businesses. With all the key business metrics, neatly arranged on a single board, the dashboard is the quickest way to figure out what's going on with their businesses.</p>
        </div>
        <div class="flex-1 relative min-h-0">
            <img src="/dist/images/dashboard.png" class="block pt-6 lg:pt-0 pr-0 lg:pr-10 absolute top-[50%] -translate-y-[50%] left-[50%] -translate-x-[50%] max-w-full h-full lg:h-auto lg:w-full" alt="Dashboard" />
        </div>
    </div>
</div>