<div class="slide">
    <div class="absolute z-20 top-[50%] -translate-y-[50%] left-[50%] -translate-x-[50%] w-full h-full py-6 px-6 lg:px-0 lg:max-w-[70%] flex flex-col flex-nowrap lg:flex-row-reverse min-h-0">
        <div class="flex-none min-w-0 lg:flex-1 self-center">
            <h3 class="text-sm lg:text-base bg-white border-2 border-blue-300 shadow-sm rounded-xl py-1 px-3 uppercase font-bold text-blue-500 mb-0.5 lg:mb-1 inline-block">Dashboard</h3>
            <h1 class="lg:text-5xl text-3xl font-extrabold font-title">A one-stop insight overview</h1>
            <p class="text-lg lg:text-xl max-w-[500px] mt-3">This is the place where, at a glance, users can instantly get an overview of their businesses. With all the key business metrics neatly arranged on a single board, the dashboard is the quickest way to figure out what's going on with their data.</p>
        </div>
        <div class="flex-1 min-w-0 flex flex-col justify-center items-center lg:pr-6 mt-4 lg:mt-0 mx-auto min-h-0 max-w-[600px] w-full lg:w-auto">
            <div class="flex-none min-w-0 flex flex-row flex-nowrap w-full mb-2 lg:mb-3">
                <div class="bg-white min-w-0 relative rounded-md border-2 shadow-sm flex-1 h-[80px] max-h-[80px] flex flex-col">
                    <h3 class="flex-none font-semibold whitespace-nowrap text-ellipsis text-gray-500 text-xs pt-1 px-1">Customers</h3>
                    <div class="flex-none flex pb-1 px-1 min-h-0 items-center">
                        <h2 class="font-bold flex-1 min-h-0 font-title">191</h2>
                        <span class="flex-none min-h-0 py-0.5 inline-block rounded-md px-1 font-semibold text-xs bg-green-100 text-green-600 fill-current">16.6%</span>
                    </div>
                    <div class="w-full flex-1 min-h-0">
                        <div id="customers" class="w-full h-full"></div>
                    </div>
                </div>
                <div class="flex-none min-w-0 w-2 lg:w-3"></div>
                <div class="bg-white min-w-0 relative rounded-md border-2 shadow-sm flex-1 h-[80px] max-h-[80px] flex flex-col">
                    <h3 class="flex-none font-semibold whitespace-nowrap text-ellipsis text-gray-500 text-xs pt-1 px-1">Sales</h3>
                    <div class="flex-none flex pb-1 px-1 min-h-0 items-center">
                        <h2 class="font-bold flex-1 min-h-0 font-title">$621</h2>
                        <span class="flex-none min-h-0 py-0.5 inline-block rounded-md px-1 font-semibold text-xs bg-red-100 text-red-600 fill-current">24.6%</span>
                    </div>
                    <div class="w-full flex-1 min-h-0">
                        <div id="sales" class="w-full h-full"></div>
                    </div>
                </div>
            </div>
            <div id="widget" class="bg-white relative min-h-0 rounded-md border-2 shadow-sm w-full flex-1 max-h-[240px] flex flex-col">
                <h3 class="flex-none font-semibold whitespace-nowrap text-ellipsis text-gray-500 text-sm pt-2 px-2">Monthly Signups</h3>
                <div class="w-full flex-1 min-h-0">
                    <div id="signups" class="w-full h-full"></div>
                </div>
            </div>
        </div>
    </div>
</div>
