<div class="slide">
    <div class="absolute top-[50%] z-10 -translate-y-[50%] left-[50%] -translate-x-[50%] w-full h-full py-6 px-6 lg:px-0 lg:max-w-[70%] flex flex-col flex-nowrap min-h-0 items-start justify-start">
        <div class="flex-none mb-4 lg:mb-6 w-full max-w-[600px]">
            <h3 class="text-sm lg:text-base bg-white border-2 border-yellow-300 shadow-sm rounded-xl py-1 px-3 uppercase font-bold text-yellow-500 mb-0.5 lg:mb-1 inline-block">Template</h3>
            <h1 class="lg:text-4xl text-2xl font-extrabold font-title">Rapidly build dashboards with ready-made templates</h1>
            <p class="lg:text-3xl text-2xl text-blue-600 font-handwritten mt-1 lg:mt-2">Countless templates for many diverse use cases</p>
        </div>
        <div class="w-full flex-1 overflow-x-auto min-h-0 grid auto-rows-min grid-cols-3 sm:grid-cols-4 lg:grid-cols-6 gap-4 lg:gap-8">
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/google-search.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/duckduckgo.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/bing.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/google_search_console.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Search</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/twitter.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/facebook.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/linkedin.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/instagram.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Social Media</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/google_analytics.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/segment.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/amplitude.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/mixpanel.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Analytics</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/shopify.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/magneto.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/woocommerce.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/prestashop.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Commerce</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/hubspot.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/klaviyo.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/mailchimp.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/taboola.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Automation</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/google_bigquery.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/postgres.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/sql_server.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/mongo.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Databases</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/pipedrive.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/salesforce.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/zendesk_sunshine.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/hubspot.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">CRM</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/stripe.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/square.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/braintree.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/recurly.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Revenue</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/xero.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/quickbooks.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/sage_intacct.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Accounting</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/intercom.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/freshdesk.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/zendesk.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/helpscout.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Support</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/asana.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/github.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/height.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/jira.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Tasks</div>
            </div>
            <div class="flex bg-white border-2 rounded-md flex-col">
                <div class="flex flex-1 flex-wrap items-center justify-center px-1 sm:py-1 xl:py-3">
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/typeform.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/survey_monkey.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/uservoice.svg" ></div>
                    <div class="relative w-[50%] h-[60px]"><img class="h-full max-w-full absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] inline-block px-1 py-2"  src="/dist/images/delighted.svg" ></div>
                </div>
                <div class="mt-auto text-sm md:text-base bg-gray-100 text-gray-600 w-full text-center">Feedback</div>
            </div>
        </div>
    </div>
</div>